body {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-brand
{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;

}

.navbar-logo {
    margin:0 auto;
    padding-top: 9.5px;
    transition: all .5s;
    width: 130px;
    background: white;
}

.navbar-toggle {
    z-index:3;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
        transition: all .5s;
        background: white;
    }
}

.mx-auto {
    margin-left: 5rem!important;
}

.nav-item {
    padding: 0 2rem
}

.navbar .navbar-nav a {
    color: white;
}